/* makes background to white adds gorilla background */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: white;
    background-image: url(images/gorilla-background.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
div#wrapper {
    margin-left: auto;
    margin-right: auto;
}

/* small logo adjustments*/
body header img.small-logo {
    height:100px;
    width:100px;
    left: 0px;
    top: 0px;
    position:relative;
}

/* large logo adjustments*/
body header img.large-logo {
    height: 250px;
    width:250px;
    left: 30%;
    top: 40%;
    position:relative;
}

/*Navigation bar color and fonts*/
nav a{
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    margin-top: 0px;
    color: black;
    font-size: 17px;
    font-weight: 200;
    font-family: Chalkduster, fantasy;
  }

/*Navigation bar remove underline*/
nav a:link {
    text-decoration: none;
}

/*Navigation bar hover properties*/
nav a:hover {
    text-decoration: none;
    background-color: black;
    color: white;
}

/*Navigation bar active properties*/
nav a:active {
    text-decoration: none;
    background-color: #04AA6D;
    color: white;
}


/* -- this is the new banner code --> */

.main-banner {
    margin: 0 auto;
    width: 600px;
    height: 200px;
    left: -500px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.main-banner .imgban {
    width:100%;
    height: 100%;
    position: absolute;
    top: 0px;
    transition: all ease-in-out 500ms;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;;
}

.main-banner #imgban3 {
    background-image: url(images/gorillaFace.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner #imgban2 {
    background-image: url(images/jungle.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner #imgban1 {
    background-image: url(images/bamboo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner .imgban-box h2 {
    font-family: arial;
    font-size: 30px;
    color: #fff;
}

.main-banner .imgban-box p {
    padding-top: 3px;
    font-family: arial;
    font-size: 10px;
    color: #fff;
}

.main-banner #imgban3 .imgban-box {
    padding-top: 55px;
    padding-left: 25px;
}

.main-banner #imgban2 .imgban-box {
    padding-top: 55px;
    padding-right: 25px;
    float: right;
    text-align: right;
}

.main-banner #imgban1 .imgban-box {
    padding-top: 17px;
    padding-left: 25px;
}








/* place details bar at bottom of page */
section#details{
    padding-bottom: 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/*bottom details bar attributes*/
section#details div{
    background-color: black;
    color: white;
    text-align: center;
    float: left; 
    width: 25%;
}

/*Detail bar link properties*/
section#details div p a:link {
    color: white;
    background-color: black;
    text-decoration: none;
}

/*Detail bar link visited properties*/
section#details div p a:visited {
    color: white;
    background-color: black;
    text-decoration: none;
}

/*Detail bar link hover properties*/
section#details div p a:hover {
    text-decoration: none;
    background-color: white;
    color: black;
}

/*Detail bar link active properties*/
section#details div p a:active {
    text-decoration: none;
    background-color: #04AA6D;
    color: white;
}
